<a href="https://colab.research.google.com/github/FelippeVelosoMarinho/SQLExercicios/blob/main/TP1_2021072260.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TRABALHO PRÁTICO 1

  O objetivo desse trabalho é avaliar a capacidade do aluno de gerar consultas em SQL a partir das questões propostas. Um Banco de Dados foi adaptado exclusivamente para esta tarefa, a partir dos dados de Documento de Empenho, Liquidação e Pagamento, disponibilizados em: 
*   [Portal da Transparência - Despesas](https://portaldatransparencia.gov.br/download-de-dados/despesas)

**IMPORTANTE**: 

1.   Altere apenas dentro das aspas duplas onde estiver escrito *Altere Aqui*. 
2.   Não serão necessárias alterações em funções ou outras partes do código.
3.   Após finalizar todas as consultas, clique em *Kernel -> Restart and Run All* no ambiente Jupyter.
4.   Altere o nome do arquivo *TP1_matricula.ipynb* adicionando o seu número de matrícula substituindo onde está escrito matrícula.
5.   Um arquivo *.csv* com a sua matrícula será gerado automaticamente no diretório do ambiente. 
6.   Compactar os arquivos *TP1_matricula.ipynb* e *matricula.csv* em *matricula.zip* e submeter na tarefa criada para o TP1 via Moodle.

In [15]:
#NÃO ALTERE AS LINHAS ABAIXO
import sys
!{sys.executable} -m pip install sqlite3
!{sys.executable} -m pip install pandas
!{sys.executable} -m pip install csv
!{sys.executable} -m pip install gdown

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
ERROR: Could not find a version that satisfies the requirement sqlite3 (from versions: none)
ERROR: No matching distribution found for sqlite3
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
ERROR: Could not find a version that satisfies the requirement csv (from versions: none)
ERROR: No matching distribution found for csv
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: gdown in /usr/local/lib/python3.10/dist-packages (4.6.6)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from gdown) (3.12.0)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.10/dist-packages (from gdown) (2.27.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from gdown) (1.16.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from gdown) (4.65.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from gdown) (4.11.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->gdown) (2.4.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (3.4)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (1.7.1)

In [16]:
#NÃO ALTERE AS LINHAS ABAIXO
import sqlite3 as sql3
import pandas as pd
import csv
import gdown

## Banco de Dados
Caso queira, você poderá fazer o download do banco de dados para explorá-lo:
*   [Banco de Dados - Despesas de Empenho](https://drive.google.com/file/d/1-dcxPb7DhPfBC1EQg2VzTXvTH28KxXH8/view?usp=share_link) 

**OBS**: Esse processo não é necessário para execução do trabalho, pois tudo o que você irá precisar, o próprio notebook já irá buscar, gerar e conectar ao banco fornecido, nas células 2 e 3.

In [17]:
#NÃO ALTERE AS LINHAS ABAIXO
!gdown "1-dcxPb7DhPfBC1EQg2VzTXvTH28KxXH8"

Downloading...
From: https://drive.google.com/uc?id=1-dcxPb7DhPfBC1EQg2VzTXvTH28KxXH8
To: /content/bancoDadosDespesas.sql
100% 41.4k/41.4k [00:00<00:00, 113MB/s]

In [18]:
#NÃO ALTERE AS LINHAS ABAIXO
con = sql3.connect(":memory:")
sql_file = open('bancoDadosDespesas.sql', encoding="utf8")
cur = con.cursor()
db = sql_file.read()
cur.executescript(db)
con.commit()

## Estrutura das Tabelas do Banco de Dados Despesas

Nas células de 5 a 9 abaixo, estão listadas as informações referentes aos campos e tipos de dados relacionados a todas as tabelas do Banco de Dados Despesas:

### TABELA EMPENHO

In [19]:
#NÃO ALTERE AS LINHAS ABAIXO
query = "PRAGMA table_info('empenho')"
df = pd.read_sql(query, con)
display(df)

   cid            name                    type  notnull dflt_value  pk
0    0      id_empenho                 integer        0       None   1
1    1      id_unidade                 integer        1       None   0
2    2   id_favorecido                 integer        1       None   0
3    3  codigo_empenho   character varying(50)        1       None   0
4    4    data_emissao                    date        1       None   0
5    5      observacao  character varying(500)        0       None   0
6    6        processo  character varying(100)        1       None   0
7    7   valor_empenho                 numeric        1       None   0

### TABELA FAVORECIDO

In [20]:
#NÃO ALTERE AS LINHAS ABAIXO
query = "PRAGMA table_info('favorecido')"
df = pd.read_sql(query, con)
display(df)

   cid             name                    type  notnull dflt_value  pk
0    0    id_favorecido                 integer        0       None   1
1    1  nome_fornecedor  character varying(100)        1       None   0
2    2               uf    character varying(2)        1       None   0

### TABELA ITEM_EMPENHO

In [21]:
#NÃO ALTERE AS LINHAS ABAIXO
query = "PRAGMA table_info('item_empenho')"
df = pd.read_sql(query, con)
display(df)

   cid              name                     type  notnull dflt_value  pk
0    0   id_item_empenho                  integer        0       None   1
1    1        id_empenho                  integer        1       None   0
2    2         descricao  character varying(1000)        1       None   0
3    3        quantidade                  integer        1       None   0
4    4  valor_total_item                  numeric        1       None   0

### TABELA ORGAO

In [22]:
#NÃO ALTERE AS LINHAS ABAIXO
query = "PRAGMA table_info('orgao')"
df = pd.read_sql(query, con)
display(df)

   cid          name                    type  notnull dflt_value  pk
0    0      id_orgao                 integer        0       None   1
1    1  codigo_orgao                 integer        1       None   0
2    2    nome_orgao  character varying(100)        1       None   0

### TABELA UNIDADE

In [23]:
#NÃO ALTERE AS LINHAS ABAIXO
query = "PRAGMA table_info('unidade')"
df = pd.read_sql(query, con)
display(df)

   cid            name                    type  notnull dflt_value  pk
0    0      id_unidade                 integer        0       None   1
1    1        id_orgao                 integer        1       None   0
2    2  codigo_unidade                 integer        1       None   0
3    3    nome_unidade  character varying(100)        1       None   0

## Arquivo de Resultados
Na célula 10 abaixo, você irá colocar o numero da sua matrícula. Essa é a primeira alteração necessária para executar o TP. A partir das células 10 e 11, o arquivo de resultado será gerado.

In [24]:
matricula = "2021072260"

In [25]:
#NÃO ALTERE AS LINHAS ABAIXO
tp1_csv = matricula+".csv"
queries = open(tp1_csv, 'w')
writer = csv.writer(queries)
writer.writerow(["Query Number", "Query Size"])

25

## Função de Consulta
A função abaixo executa a consulta, exibe o retorno da consulta no banco e grava os dados necessários no arquivo resultado.

In [26]:
#NÃO ALTERE AS LINHAS ABAIXO
def runQuery(query, query_name):
  df = pd.read_sql(query, con)
  query_size = df.shape
  writer.writerow([query_name, query_size])
  writer.writerow([a1, df])
  display(df)

## PARTE 1 - Transformar Algebra Relacional para SQL
Abaixo, seguem as consultas que voce terá de transformar de Algebra Relacional para SQL. Altere **APENAS** o espaço entre as aspas. Dentro desse espaço é que você deverá digitar o comando de execução da consulta.

### 1 - $\pi_{nome\_fornecedor} \: \sigma_{uf  =  'SP'}$ (favorecido)

In [28]:
a1 = """
SELECT 
    nome_fornecedor 
FROM 
    favorecido 
WHERE  
    uf = 'SP'
"""
#NÃO ALTERE AS LINHAS ABAIXO
runQuery(a1, "a1")

                                     nome_fornecedor
0                        OSIRNET INFO TELECOM EIRELI
1  FUNDACAO DE PREVIDENCIA COMPLEMENTAR DO SERVID...
2                     VANLUZ PECAS E ACESSORIOS LTDA
3              HERA SUL TRATAMENTOS DE RESIDUOS LTDA
4  COOPERATIVA REGIONAL DE ELETRIF RURAL FRONTEIR...
5        NETWARE TELECOMUNICACOES E INFORMATICA LTDA
6                               KIOTO AMBIENTAL LTDA
7       SECRETARIA ESP. DA RECEITA FEDERAL DO BRASIL
8                                                ABC
9                                             Nestle

### 2 - $\pi_{codigo\_empenho, valor\_empenho} \: \sigma_{valor\_empenho  >  1000000}$ (empenho)

In [30]:
a2 = """
SELECT 
  codigo_empenho, valor_empenho
FROM 
  empenho
WHERE 
  valor_empenho > 1000000;
"""
#NÃO ALTERE AS LINHAS ABAIXO
runQuery(a2, "a2")

  codigo_empenho  valor_empenho
0   2023NE000014     2110000.00
1   2023NE000002    43599556.56
2   2023NE000008     9764459.59
3   2023NE000007    46049753.36
4   2023NE000010     9794889.00

### 3 - $\pi_{nome\_fornecedor, valor\_empenho} \: \sigma_{valor\_empenho  <  1000}$ (favorecido $\bowtie$ empenho )

In [42]:
a3 = '''
SELECT favorecido.nome_fornecedor, empenho.valor_empenho
FROM favorecido
INNER JOIN empenho ON favorecido.id_favorecido = empenho.id_favorecido
WHERE empenho.valor_empenho < 1000
'''
#NÃO ALTERE AS LINHAS ABAIXO
runQuery(a3, "a3")

                                      nome_fornecedor  valor_empenho
0                      VANLUZ PECAS E ACESSORIOS LTDA            2.0
1                        LIMPADORA SANTO AUGUSTO LTDA           10.0
2               HERA SUL TRATAMENTOS DE RESIDUOS LTDA           10.0
3         INSTITUTO NACIONAL DE EDUCACAO DE SURDOS-RJ          300.0
4                      VANLUZ PECAS E ACESSORIOS LTDA            1.0
5                     HENRIQUE HONORIO PEREIRA CABRAL           10.0
6                                          CLARO S.A.          844.9
7         INSTITUTO NACIONAL DE EDUCACAO DE SURDOS-RJ          400.0
8                      VANLUZ PECAS E ACESSORIOS LTDA            1.0
9                                  HENRIQUE GONCALVES           10.0
10                     VANLUZ PECAS E ACESSORIOS LTDA            1.0
11                     VANLUZ PECAS E ACESSORIOS LTDA            1.0
12        INSTITUTO NACIONAL DE EDUCACAO DE SURDOS-RJ          500.0
13                                     ENGELINK LTDA.           10.0
14                  EMPRESA BRASIL DE COMUNICACAO S.A           10.0
15                     VANLUZ PECAS E ACESSORIOS LTDA            2.0
16                                 HENRIQUE GONCALVES           10.0
17                             TELEFONICA BRASIL S.A.            3.0
18                    HENRIQUE HONORIO PEREIRA CABRAL           10.0
19                        OSIRNET INFO TELECOM EIRELI           10.0
20                                 HENRIQUE GONCALVES            4.0
21                     VANLUZ PECAS E ACESSORIOS LTDA            1.0
22                                         CLARO S.A.           10.0
23                                         CLARO S.A.            0.0
24        INSTITUTO NACIONAL DE EDUCACAO DE SURDOS-RJ            0.1
25                       L. A. VIAGENS E TURISMO LTDA          500.0
26  COOPERATIVA REGIONAL DE ELETRIF RURAL FRONTEIR...           10.0
27                                 HENRIQUE GONCALVES           15.0
28                       L. A. VIAGENS E TURISMO LTDA          100.0

### 4 - $\pi_{nome\_unidade, valor\_empenho} \: \sigma_{codigo\_unidade = 152005}$ (empenho $\bowtie$ unidade)

In [46]:
a4 = '''
SELECT unidade.nome_unidade, empenho.valor_empenho
FROM empenho
INNER JOIN unidade ON unidade.id_unidade = empenho.id_favorecido
WHERE unidade.codigo_unidade = 152005 
'''
#NÃO ALTERE AS LINHAS ABAIXO
runQuery(a4, "a4")

                                  nome_unidade  valor_empenho
0  INSTITUTO NACIONAL DE EDUCACAO DE SURDOS-RJ         200000

### 5 - $\pi_{id\_unidade, nome\_unidade} \: \sigma_{nome\_orgao = Ministério\  da\ Economia}$ (orgao $\bowtie$ unidade)

In [47]:
a5 = """
SELECT unidade.id_unidade, unidade.nome_unidade
FROM orgao
INNER JOIN unidade ON unidade.id_unidade = orgao.id_orgao
WHERE orgao.nome_orgao = 'Ministério da Economia'
"""
#NÃO ALTERE AS LINHAS ABAIXO
runQuery(a5, "a5")

   id_unidade                                nome_unidade
0           1  SUPERINTENDENCIA REGIONAL DA RFB NA 10A RF

## PARTE 2 - Consultas SQL
Abaixo, seguem as consultas que voce terá de executar. Altere **APENAS** o espaço entre as aspas. Dentro desse espaço é que você deverá digitar o comando de execução da consulta.

### 1 - Liste os campos id_empenho, observacao e data_emissao para todos os empenhos com data de emissão entre 2020-01-01 e 2020-12-31:

In [49]:
q1 = '''
SELECT id_empenho, observacao, data_emissao
FROM empenho
WHERE data_emissao BETWEEN '2020-01-01' AND '2020-12-31'
'''
#NÃO ALTERE AS LINHAS ABAIXO
runQuery(q1, "q1")

    id_empenho                                         observacao data_emissao
0    506601548  ATENDER DESPESAS VARIAVEIS DE PESSOAL CIVIL AT...   2020-03-18
1    507001630  EMPENHO PARA CONTRATO DE SERVICO DE INCINERACA...   2020-02-25
2    509601561  PRESTACAO DE SERVICOS DE GERENCIAMENTO; CONTRO...   2020-06-12
3    510501565   CONTRATACAO DE BANDA LARGA - INTERNET CHUI - RLE   2020-01-01
4    511301583  ATENDER DESPESA COM DIARIAS DE COLABORADORES E...   2020-09-24
5    511701585  ATENDER DESPESA COM SERVICOS PARA FINS DE MANU...   2020-09-17
6    512001614  CONTRATO DE SERVICOS DE LAVAGEM DE  VEICULOS  ...   2020-01-16
7    512301631  CONTRATO NR. 22/2018. ATENDER DESPESA COM SERV...   2020-02-22
8    513201843  ATENDER DESPESAS COM PRESTACAO DE SERVICOS DE ...   2020-03-11
9    513701584  ATENDER DESPESA COM DIARIAS DE PESSOAL CIVIL A...   2020-05-30
10   521001622  ATENDER DESPESAS COM PAGAMENTO DE PENSOES CIVI...   2020-07-15
11   524201553  ATENDER DESPESA COM SERVICOS DE: COMBATE A VET...   2020-11-27
12   525001610  EMPENHO PARA ATENDER DESPESA COM TELEFONIA MOD...   2020-04-14
13   525601604  CONTRATO 09/2020. PREGAO ELETRONICO 15/2020. -...   2020-02-28
14   531001585  ATENDER DESPESA COM PAGAMENTO DE CONTRIBUICOES...   2020-02-08

### 2 - Liste as 3 unidades federativas (uf) com menos favorecidos cadastrados e a quantidade de favorecidos destes Estados:

In [50]:
q2 = '''
SELECT uf, COUNT(id_favorecido) as total_favorecidos
FROM favorecido
GROUP BY uf
ORDER BY total_favorecidos ASC
LIMIT 3;
'''
#NÃO ALTERE AS LINHAS ABAIXO
runQuery(q2, "q2")

   uf  total_favorecidos
0  BA                  1
1  ES                  3
2  PR                  3

### 3 - Liste o nome das unidades que começam com a palavra SUPERINTENDENCIA e o nome do orgão ao qual pertencem:

In [54]:
q3 = '''
SELECT orgao.nome_orgao, unidade.nome_unidade
FROM unidade
INNER JOIN orgao ON unidade.id_orgao = orgao.id_orgao
WHERE unidade.nome_unidade LIKE 'SUPERINTENDENCIA%'
'''
#NÃO ALTERE AS LINHAS ABAIXO
runQuery(q3, "q3")

,nome_orgao,nome_unidade
0,Ministério da Economia,SUPERINTENDENCIA REGIONAL DA RFB NA 10A RF
1,Ministério da Saúde,SUPERINTENDENCIA ESTADUAL DO MS/MG
2,Ministério da Saúde,SUPERINTENDENCIA ESTADUAL DO MS/PI
3,Ministério da Justiça e Segurança Pública,SUPERINTENDENCIA REGIONAL NO ESTADO DA BA

### 4 - Liste os códigos de empenho que tenham a palavra COBRIR no campo observacao:
**OBS** (pesquisar a palavra em caixa alta).

In [58]:
q4 = '''
SELECT codigo_empenho
FROM empenho
WHERE observacao LIKE '%COBRIR%'
'''
#NÃO ALTERE AS LINHAS ABAIXO
runQuery(q4, "q4")

  codigo_empenho
0   2023NE000004
1   2023NE000018

### 5 - Liste, em ordem crescente, os nomes de todos os fornecedores que tenham mais de 1 empenho, exibindo também a quantidade de empenhos relacionados à cada um deles:

In [61]:
q5 = '''
SELECT favorecido.nome_fornecedor, COUNT(DISTINCT empenho.id_empenho) AS quantidade_empenhos
FROM empenho
INNER JOIN favorecido ON empenho.id_favorecido = favorecido.id_favorecido
GROUP BY favorecido.nome_fornecedor
HAVING COUNT(DISTINCT empenho.id_empenho) > 1
ORDER BY favorecido.nome_fornecedor ASC
'''
#NÃO ALTERE AS LINHAS ABAIXO
runQuery(q5, "q5")

                               nome_fornecedor  quantidade_empenhos
0                                   CLARO S.A.                    3
1                           HENRIQUE GONCALVES                    4
2              HENRIQUE HONORIO PEREIRA CABRAL                    2
3  INSTITUTO NACIONAL DE EDUCACAO DE SURDOS-RJ                   22
4                 L. A. VIAGENS E TURISMO LTDA                    5
5  NETWARE TELECOMUNICACOES E INFORMATICA LTDA                    2
6                   RENOV AR CONDICIONADO LTDA                    2
7               VANLUZ PECAS E ACESSORIOS LTDA                    7

### 6 - Liste, em ordem crescente, o nome das unidades e a soma do valor de todos os itens pertencentes a cada uma delas:

**Desafio**: Para tratar o erro de soma dos flutuantes na consulta, você pode reduzir o numero de casas decimais que serão exibidos.

In [63]:
q6 = '''
SELECT unidade.nome_unidade, SUM(item.valor_total_item) AS soma_valores
FROM unidade 
INNER JOIN empenho ON unidade.id_unidade = empenho.id_unidade
INNER JOIN item_empenho AS item ON empenho.id_empenho  =  item.id_empenho
GROUP BY unidade.nome_unidade
ORDER BY soma_valores ASC
'''
#NÃO ALTERE AS LINHAS ABAIXO
runQuery(q6, "q6")

                                  nome_unidade  soma_valores
0            DELEGACIA DA RFB EM CAXIAS DO SUL  1.000000e+01
1   SUPERINTENDENCIA REGIONAL DA RFB NA 10A RF  1.190000e+02
2    SUPERINTENDENCIA REGIONAL NO ESTADO DA BA  1.000000e+03
3           SUPERINTENDENCIA ESTADUAL DO MS/PI  1.122500e+03
4     COMANDO 5º BRIGADA DE CAVALARIA BLINDADA  4.680000e+03
5           SUPERINTENDENCIA ESTADUAL DO MS/MG  1.278117e+04
6              DELEGACIA DA RFB EM SANTA MARIA  1.508299e+05
7  INSTITUTO NACIONAL DE EDUCACAO DE SURDOS-RJ  1.144644e+08

### 7 - Liste o nome dos orgãos que tenham mais de 10 favorecidos e a quantidade de favorecidos relacionados à cada orgão:

In [66]:
q7 = '''
SELECT orgao.nome_orgao, COUNT(favorecido.id_favorecido) AS qtd_favorecidos
FROM orgao
INNER JOIN unidade ON orgao.id_orgao = unidade.id_orgao
INNER JOIN empenho ON unidade.id_unidade = empenho.id_unidade
INNER JOIN favorecido ON empenho.id_favorecido = favorecido.id_favorecido
GROUP BY orgao.nome_orgao
HAVING COUNT(favorecido.id_favorecido) > 10
'''
#NÃO ALTERE AS LINHAS ABAIXO
runQuery(q7, "q7")

               nome_orgao  qtd_favorecidos
0  Ministério da Economia               23
1  Ministério da Educação               41

### 8 - Liste o id de todos os empenhos que tenham alguma relação com o orgão Ministério da Saúde:

In [67]:
q8 = '''
SELECT empenho.id_empenho
FROM empenho
INNER JOIN unidade ON empenho.id_unidade = unidade.id_unidade
INNER JOIN orgao ON unidade.id_orgao = orgao.id_orgao
WHERE orgao.nome_orgao = 'Ministério da Saúde'
'''
#NÃO ALTERE AS LINHAS ABAIXO
runQuery(q8, "q8")

   id_empenho
0   508901604
1   510901650
2   525601598
3   526501194

### 9 - Liste o nome das unidades que possuem favorecidos em MG:

In [78]:
q9 = '''
SELECT DISTINCT unidade.nome_unidade
FROM unidade
INNER JOIN empenho ON unidade.id_unidade = empenho.id_unidade
INNER JOIN favorecido ON empenho.id_favorecido = favorecido.id_favorecido
WHERE favorecido.uf = 'MG'
'''
#NÃO ALTERE AS LINHAS ABAIXO
runQuery(q9, "q9")

                                  nome_unidade
0  INSTITUTO NACIONAL DE EDUCACAO DE SURDOS-RJ
1              DELEGACIA DA RFB EM SANTA MARIA
2   SUPERINTENDENCIA REGIONAL DA RFB NA 10A RF

### 10 - Liste, em ordem crescente, a descriçãoo dos itens de empenho relacionados ao orgão do Ministério da Saúde:

In [80]:
q10 = '''
SELECT item_empenho.descricao
FROM item_empenho
JOIN empenho ON empenho.id_empenho = item_empenho.id_empenho
JOIN unidade ON unidade.id_unidade = empenho.id_unidade
JOIN orgao ON orgao.id_orgao = unidade.id_orgao
WHERE orgao.nome_orgao = 'Ministério da Saúde'
ORDER BY item_empenho.descricao ASC
'''
#NÃO ALTERE AS LINHAS ABAIXO
runQuery(q10, "q10")

                                            descricao
0                     Baixa de saldos não liquidados.
1   Item compra: 00001 - Estudos e Projetos de Rec...
2   Item compra: 00001 - TAXA DE INSTALACAO/HABILI...
3   Item compra: 00002 - TAXA DE INSTALACAO/HABILI...
4   Item compra: 00003 - TAXA DE INSTALACAO/HABILI...
5   Item compra: 00004 - Pacote de Serviços SMP (V...
6   Item compra: 00004 - Pacote de Serviços SMP (V...
7   Item compra: 00004 - TAXA DE INSTALACAO/HABILI...
8   Item compra: 00006 - TAXA DE INSTALACAO/HABILI...
9   Item compra: 00007 - TAXA DE INSTALACAO/HABILI...
10  Item compra: 00008 - TAXA DE INSTALACAO/HABILI...
11  Item compra: 00009 - TAXA DE INSTALACAO/HABILI...

# Finalizando o Banco de Dados e o Arquivo de Consultas gerado:

In [81]:
#NÃO ALTERE AS LINHAS ABAIXO
queries.close()
con.close()

## Compactando Arquivos
Na célula abaixo, substitua onde está escrito MATRÍCULA pelo seu número de matrícula.

In [84]:
#ALTERE ONDE ESTÁ ESCRITO MATRICULA para o numero de sua Matrícula
!zip -r "2021072260.zip" "TP1_2021072260.ipynb" "2021072260.csv"

	zip warning: name not matched: TP1_2021072260.ipynb
updating: 2021072260.csv (deflated 80%)

**LEMBRE-SE:** Após finalizar todas as consultas, clique em *Kernel -> Restart and Run All* no ambiente Jupyter!